[Desktop Entry]
Type=Application
Name=Deadbrain Wallet
GenericName=Dogecoin Wallet
Exec=AppRun %F
Icon=default
Comment=Dogecoin SPV wallet
Terminal=false
Categories=Utility;